@model IBS_DALayer.Models.CustomerAllDetail

@{
    ViewData["Title"] = "CustomerDetailByAccNo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h5 style="color:red;">@ViewBag.ExcError</h5>
<h1>CustomerDetailByAccNo</h1>

<div>
    <h4>CustomerAllDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IFSCCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IFSCCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountCreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aadhar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aadhar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomineeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomineeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomineeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomineeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="CustomerDetailByAccNoForAdmin">Back to List</a>
</div>
